<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nguyenhoanglam.imagepicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application>

        <activity
            android:name=".ui.imagepicker.ImagePickerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/imagepicker_ImagePickerTheme" />

        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/imagepicker_CameraTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/imagepicker_file_paths" />
        </provider>

    </application>

</manifest>
