<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nguyenhoanglam.imagepicker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <activity
            android:name=".ui.imagepicker.ImagePickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/imagepicker_ImagePickerTheme" />

        <activity
            android:name=".ui.camera.CameraActivty"
            android:screenOrientation="portrait"
            android:theme="@style/imagepicker_CameraTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/imagepicker_file_paths" />
        </provider>

    </application>

</manifest>
